%p#notice= notice

%p
  %b Site:
  = @rule.site.name
%p
  %b Regex:
  = @rule.regex
%p
  %b Positive:
  = @rule.positive
%p
  %b Order:
  = @rule.order

= link_to 'Edit', edit_site_rule_path(@site, @rule)
\|
= link_to 'Back', @site
